@import url('https://fonts.font.im/css2?family=Noto+Serif&family=Noto+Serif+JP:wght@500&family=Noto+Serif+SC:wght@500&display=swap');

html,
body,
p {
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: none;
    font-family: 'Noto Serif JP', serif;
}

body {
    background-color: #F4F9F8;
    -webkit-user-select: none;
    user-select: none;
}

.hide {
    display: none;
}

.content {
    width: 100%;
    box-sizing: border-box;
}

.view {
    position: relative;
    margin: .4rem auto .19rem auto;
    width: 5.76rem;
    height: 5.76rem;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    background-color: #E6EAE7;
    color: #33AC8E;
    font-family: 'Noto Serif JP', serif;
}

.view-main,
.view-anthor,
.view-vowel {
    position: absolute;
}

.view-main {
    top: 46%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 2.4rem;
}

.view-main.yoon {
    width: 85%;
}

.view-anthor,
.view-vowel {
    height: 1.92rem;
    line-height: 1.92rem;
    text-align: center;
    font-size: 1rem;
}

.view-anthor {
    left: 0.3rem;
    bottom: 0rem;
}

.view-vowel {
    right: 0.4rem;
    top: -0.2rem;
    font-family: 'Noto Serif', serif;
}

.btn {
    border: 0;
}

.btn-change {
    display: block;
    width: 5.76rem;
    height: 1.26rem;
    margin: 0 auto .4rem auto;
    padding: 0;
    font: bold .4rem 'arial';
    color: #fff;
    border-radius: 3px;
    background: #33AC8E;
}

.zh {
    font-family: 'Noto Serif SC', serif;
}

.ja {
    font-family: 'Noto Serif JP', serif;
}

.en {
    font-family: 'Noto Serif', serif;
}